<!DOCTYPE html>
<html>
  <head>
    <title>Twaddle</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to Twaddle!</h1>
    <p>Get Twaddlin!</p>
  </body>
</html>
