<div class="large-2 columns">YOOOOOOOOOO</div>
  <div class="large-8 columns">
  <form ng-Submit="post()" ng-show='authenticated'>
    <h5>Welcome {{current_user}}</h5>

    <div class="input-group">
      <input class="input-group-field" type="text" required maxLength="250" rows="3" placeholder="Twaddle here" ng-model="newPost.text">
      <div class="input-group-button">
        <input class="button" type="submit" ng-disabled="!post-form.$valid" value="Twaddle"/>
      </div>
    </div>
  </form>
  <div id="twaddles">
    <h4 class="text-center">Twaddler Feed</h4>
    <div class="twaddle" ng-repeat="post in posts | orderBy: 'created_at': true" ng-class-odd="'odd'" ng-class-even="'even'">
      <small>Posted by @{{post.created_by}}</small>
      <small class="pull-right">at {{post.created_at | date:"h:mma 'on' MMM d, y"}}</small>
      <p>{{post.text}}</p>
    </div>
  </div>
  </div>
<div class="large-2 columns">YOOOOOOOOOOOO</div>
