
  <div class="large-4 columns">
  <h4>Post a Twaddle</h4>
  <form ng-submit="twaddle()">
    <input required type="text"  placeholder="Name here" ng-model="newTwaddle.creator"/>
    <textarea required maxLength="250" rows="3" placeholder="Twaddle here" ng-model="newTwaddle.text"></textarea>
    <input class="button" type="submit" value="Twaddle"/>
  </form>
  </div>
  <div id="twaddles" class="large-8 columns">
    <h4>Twaddler Feed</h4>
    <div class="twaddle" ng-repeat="twaddle in twaddles | orderBy: 'created': true" ng-class-odd="'odd'" ng-class-even="'even'">
      <small>posted by @{{twaddle.creator}}</small>
      <small class="pull-right">at {{twaddle.created  | date:"h:mma 'on' MMM d, y"}}</small>
      <p>{{twaddle.text}}</p>
    </div>
  </div>
