<div class="top-bar">
  <div class="top-bar-left">
    <ul id="title">
      <li id="title"><a href="#/">Twaddler</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu" id="links">
      <li class="sign" ng-show="authenticated">Signed in as {{current_user}} -</li>
      <li><a href="#/signup" ng-hide="authenticated">Signup</a></li>
      <li><a href="#/login" ng-hide="authenticated">Login</a></li>
      <li><a href="#/" ng-click="signout()" ng-show="authenticated">Sign out</a></li>
    </ul>
  </div>
</div>
