/***********Navbar************/
#title {
  color: #000;
  font-weight: bold;
}

/************Sidebar*************/
#side-menu {
  background-color: blue;
}


/************Feed*************/
.twaddle {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.odd {
  background-color: #f2f9ff;
}

.even {
  background-color: #eceff3;
}
