@import url(https://fonts.googleapis.com/css?family=Indie+Flower|Lato:400,700);

/*************Navbar*************/

.top-bar, .sign {
  background-color: #82A0BC;
}

a {
  color: #000;
}

a:hover {
  color: #083D77;
}

#links {
  font-family: 'Indie Flower', cursive;
  background-color: #82A0BC;
  font-size: 22px;
  padding-bottom: 0;
}

#title {
  font-family: 'Indie Flower', cursive;
  font-size: 28px;
  color: #000;
  background-color: #82A0BC;
  padding-bottom: 0;
  margin-bottom: 0;
}

.menu {
  background-color: #82A0BC;
}

/***************Main Page********/

body {
  background-color: #FEFEFE;
  font-family: 'Lato', sans-serif;
}

.post {
  font-size: 1.2em;
}

.post a {
  color: #083D77;
}

.content {
  margin-top: 24px;
}

.button {
  background-color: #A7CCED;
  color: #000;
}

.button:hover {
  background-color: #82A0BC;
}

#table {
  margin-top: 0px;
}

/************Sidebar*************/

.side-menu {
  margin: 0;
  padding: 0;
}

.stack {
  margin-top: 6px;

}



/************Feed*************/
.twaddle {
  padding: 10px;
  margin-bottom: 5px;
  /*border-radius: 5px;*/
}

.odd {
  background-color: #A7CCED;
}

.even {
  background-color: #82A0BC;
}
